.header {
  width: 100%;

}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh;
  margin:1rem 0rem;
}
.logo{
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  height: 100%;
}
.menu-toggle {
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  color: rgb(47, 138, 218);
  border: 1.5px solid rgba(99, 99, 99, 0.7);
  border-radius: 50%;
}


@media (max-width: 790px) {
  .logo{
    height: 60%;
  }
 
}


/************* MENU LATERAL ************/
.menu{
  position: absolute;
  left: -300px;
  top: 14.6vh;
  z-index: 2;
  height: 100vh;
  color: #f0b37d; /* RGB (240,179,125)*/
  

}

@media(max-height: 375px){
  .menu{
    top: 19.2vh;
  }
}
@media(min-height:400px max-height: 649px){
  .menu{
    top: 15.5vh;
  }
}
@media(min-height:700px max-height: 1200px){
  .menu{
    top: 13.3vh;
  }
}

.menu-row {
  display: flex;
  height: 56px;
  justify-content: flex-start;
  background-color: #2f4f63;     /* RGB (47,79,99) */
  border-bottom: 1px solid  #f0b37d;
  z-index: 3;
}

#m8,#m9,#m10{
  border-bottom: none;
    
}

li {
  justify-self: center;
}
.nav-link {
  color: #f1f1f1;
}
a{
  text-decoration: none;
  list-style: none;
  color:#f1f1f1;
}



