.logo-container {
  display: flex;
  justify-content: center;
}
.logo-home {
  height: 70px;
  position: absolute;
  top: 290px;  
}
.text-container{
  color: rgba(200,200,200, .8);
  padding: 2rem;
  border-top: 1px solid rgba(200,200,50,.8);
  border-bottom: 2px solid rgba(200,200,50,0.8) ;
  border-radius: 20px;
  opacity: 0;
}
